.active{
    font-style: italic;
   
}
.navBar{
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: center;
    width: 100%;
   height: 10vh;
}
a{
    text-decoration: none;
}
Form{
    display: flex;
    flex-direction: column ;
}
.regdiv{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.formsubdiv{
    background-color: blue;
    width: 60vh;
    height: 80vh;
}
